# 2019 Bay Wheels' Trip Data Exploration and Visualization

### Preliminary Wrangling

This document explores a dataset containing [information](https://www.lyft.com/bikes/bay-wheels/system-data) about individual rides made in [Bay Wheels](https://en.wikipedia.org/wiki/Bay_Wheels)' bike-sharing system covering the greater San Francisco Bay area.  The dataset is a collection of csv files from January 2019 to December 2019 and can be manually downloaded [here](https://s3.amazonaws.com/baywheels-data/index.html).

In [27]:
# import all packages and set plots to be embedded inline
import glob
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

%matplotlib inline

In [28]:
# file path of folder containing all the csv files
path = './data'
# this will get all the filenames
all_data = glob.glob(path + "/*.csv")

# list that will contain all data in csv's
li = []

# iterate through all the files
for filename in all_data:
    # read each file into the temporary df
    temp = pd.read_csv(filename, index_col = None, header = 0)
    # append them to list
    li.append(temp)
    
# concatenate all of the csv's into a single df    
df = pd.concat(li, ignore_index=True)

/home/udacity/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:17: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [29]:
# save the combined dataframe to a csv file
df.to_csv('fordgobike_tripdata_2019.csv', index = False)

In [30]:
# high level overview of data shape and composition
print(df.shape)
print(df.dtypes)

(2506983, 15)
bike_id                      int64
bike_share_for_all_trip     object
duration_sec                 int64
end_station_id             float64
end_station_latitude       float64
end_station_longitude      float64
end_station_name            object
end_time                    object
rental_access_method        object
start_station_id           float64
start_station_latitude     float64
start_station_longitude    float64
start_station_name          object
start_time                  object
user_type                   object
dtype: object

In [31]:
# i prefer looking at it through this instead of print(df.sample(10))
df.sample(10)

,bike_id,bike_share_for_all_trip,duration_sec,end_station_id,end_station_latitude,end_station_longitude,end_station_name,end_time,rental_access_method,start_station_id,start_station_latitude,start_station_longitude,start_station_name,start_time,user_type
458374,5535,No,1834,400.0,37.804272,-122.433537,Buchanan St at North Point St,2019-03-17 17:36:15.1920,NaN,400.0,37.804272,-122.433537,Buchanan St at North Point St,2019-03-17 17:05:40.4720,Customer
664462,2466,Yes,96,239.0,37.868813,-122.258764,Bancroft Way at Telegraph Ave,2019-10-22 15:23:52.1830,NaN,243.0,37.869360,-122.254337,Bancroft Way at College Ave,2019-10-22 15:22:15.9210,Subscriber
641846,986,No,270,30.0,37.776598,-122.395282,San Francisco Caltrain (Townsend St at 4th St),2019-10-24 20:01:11.1160,NaN,90.0,37.771058,-122.402717,Townsend St at 7th St,2019-10-24 19:56:40.9310,Subscriber
1643729,3636,No,212,372.0,37.804037,-122.262409,Madison St at 17th St,2019-09-03 13:13:28.9120,NaN,7.0,37.804562,-122.271738,Frank H Ogawa Plaza,2019-09-03 13:09:56.6000,Subscriber
2075063,3034,No,2390,15.0,37.795392,-122.394203,San Francisco Ferry Building (Harry Bridges Pl...,2019-07-29 09:25:26.1420,NaN,115.0,37.765026,-122.398773,Jackson Playground,2019-07-29 08:45:35.4570,Subscriber
198750,3601,No,294,386.0,37.752105,-122.419724,24th St at Bartlett St,2019-02-22 07:34:48.0530,NaN,142.0,37.745739,-122.422140,Guerrero Park,2019-02-22 07:29:53.1280,Customer
918174,2817,No,1428,151.0,37.836182,-122.287180,53rd St at Hollis St,2019-04-17 09:00:39.9400,NaN,244.0,37.873676,-122.268487,Shattuck Ave at Hearst Ave,2019-04-17 08:36:51.9330,Subscriber
65062,10485,NaN,1536,27.0,37.788059,-122.391865,Beale St at Harrison St,2019-12-12 09:24:43.7150,NaN,381.0,37.758238,-122.426094,20th St at Dolores St,2019-12-12 08:59:07.1660,Customer
750462,2119,No,922,460.0,37.769095,-122.386333,Terry Francois Blvd at Warriors Way,2019-10-10 18:24:03.8710,NaN,50.0,37.780526,-122.390288,2nd St at Townsend St,2019-10-10 18:08:41.8060,Customer
2308262,567381,NaN,507,241.0,37.852477,-122.270213,Ashby BART Station,2019-07-16 07:25:05,app,NaN,37.840826,-122.279685,NaN,2019-07-16 07:16:37,Subscriber

In [32]:
# descriive statistics for numeric variables
df.describe()

,bike_id,duration_sec,end_station_id,end_station_latitude,end_station_longitude,start_station_id,start_station_latitude,start_station_longitude
count,2.506983e+06,2.506983e+06,2.424081e+06,2.506983e+06,2.506983e+06,2.426249e+06,2.506983e+06,2.506983e+06
mean,2.789833e+04,8.076483e+02,1.427044e+02,3.776422e+01,-1.223459e+02,1.465047e+02,3.776506e+01,-1.223499e+02
std,1.146067e+05,1.974714e+03,1.214296e+02,2.392885e-01,7.080417e-01,1.223171e+02,1.363698e-01,3.089648e-01
min,4.000000e+00,6.000000e+01,3.000000e+00,0.000000e+00,-1.225143e+02,3.000000e+00,0.000000e+00,-1.225143e+02
25%,1.952000e+03,3.590000e+02,4.300000e+01,3.777003e+01,-1.224117e+02,4.700000e+01,3.776931e+01,-1.224130e+02
50%,4.420000e+03,5.710000e+02,1.010000e+02,3.778076e+01,-1.223981e+02,1.050000e+02,3.778053e+01,-1.223983e+02
75%,9.682000e+03,8.870000e+02,2.390000e+02,3.779587e+01,-1.222934e+02,2.430000e+02,3.779539e+01,-1.222914e+02
max,9.999410e+05,9.121100e+05,4.980000e+02,4.551000e+01,0.000000e+00,4.980000e+02,4.551000e+01,0.000000e+00

**What is the structure of your dataset?**

**What is/are the main feature(s) of interest in your dataset?**

**What features in the dataset do you think will help support your investigation into your feature(s) of interest?**

### Univariate Exploration

**Discuss the distribution(s) of your variable(s) of interest.  Were there any unusual points?  Did you need to perform any tranformations?**

**Of the features you investigated, were there any unusual distributions?  Did you perform any operations on the data to tidy, adjust, or change the form of the data?  If so, why did you do this?**

### Bivariate Exploration

**Talk about some of the relationships you observed in this part of the investigation.  How did the feature(s) of interest vary with other features in the dataset?**

**Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?**

### Multivariate Exploration

**Talk about some of the relationships you observed in this part of the investigation.  Were there features that strengthened each other in terms of looking at your feature(s) of interest?**

**Were there any interesting or surprising interactions between features?**